openapi: 3.2.0
info:
  title: TTD Data Deletion Opt Out API
  version: v0.1
tags:
- name: DeletionOptOut
paths:
  /data/deletion-optout/advertiser:
    post:
      tags:
      - DeletionOptOut
      summary: Delete IDs shared with The Trade Desk for the specified advertiser ID
      operationId: DataSubjectRequestAdvertiserData
      parameters:
      - name: TTD-Auth
        in: header
        description: Data API token for authentication.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserDsrRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDsrResponse'
        '400':
          description: Bad Request - Invalid JSON, missing items, advertiser not configured, or policy restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDsrResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden - Cannot process data subject request for this advertiser
          content:
            application/json:
              schema:
                type: string
        '413':
          description: Request Entity Too Large - Request size exceeds the allowed limit
          content:
            application/json:
              schema:
                type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDsrResponse'
        '500':
          description: Internal Server Error - Unexpected server error
        '503':
          description: Service Unavailable - Handler disabled or request dropped
      servers:
      - url: https://usw-data.adsrvr.org
  /data/deletion-optout/merchant:
    post:
      tags:
      - DeletionOptOut
      summary: Delete IDs shared with The Trade Desk via a product catalog for the specified…
      operationId: DataSubjectRequestMerchantData
      parameters:
      - name: TTD-Auth
        in: header
        description: Data API token for authentication.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantDsrRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDsrResponse'
        '400':
          description: Bad Request - Invalid JSON, missing items, merchant not configured, or policy restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDsrResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden - Cannot process data subject request for this merchant
          content:
            application/json:
              schema:
                type: string
        '413':
          description: Request Entity Too Large - Request size exceeds the allowed limit
          content:
            application/json:
              schema:
                type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDsrResponse'
        '500':
          description: Internal Server Error - Unexpected server error
        '503':
          description: Service Unavailable - Handler disabled or request dropped
      servers:
      - url: https://usw-data.adsrvr.org
  /data/deletion-optout/thirdparty:
    post:
      tags:
      - DeletionOptOut
      summary: Delete IDs shared with The Trade Desk for the specified data provider ID
      operationId: DataSubjectRequestThirdPartyData
      parameters:
      - name: TTD-Auth
        in: header
        description: Data API token for authentication.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyDsrRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyDsrResponse'
        '400':
          description: Bad Request - Invalid JSON, missing items, data provider not configured, or policy restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyDsrResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden - Cannot process data subject request for this data provider
          content:
            application/json:
              schema:
                type: string
        '413':
          description: Request Entity Too Large - Request size exceeds the allowed limit
          content:
            application/json:
              schema:
                type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyDsrResponse'
        '500':
          description: Internal Server Error - Unexpected server error
        '503':
          description: Service Unavailable - Handler disabled or request dropped
      servers:
      - url: https://usw-data.adsrvr.org
components:
  schemas:
    ThirdPartyDsrResponse:
      type: object
      properties:
        FailedLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ThirdPartyDsrFailedLine'
      additionalProperties: false
    ThirdPartyDsrRequest:
      type: object
      properties:
        DataProviderId:
          type:
          - string
          - 'null'
        BrandId:
          type:
          - string
          - 'null'
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartnerDsrDataItem'
        DataLoadTraceId:
          type:
          - string
          - 'null'
        RequestType:
          $ref: '#/components/schemas/PartnerDsrRequestType'
      additionalProperties: false
    AdvertiserDsrFailedLine:
      type: object
      properties:
        AdvertiserId:
          type:
          - string
          - 'null'
        DataProviderId:
          type:
          - string
          - 'null'
        TDID:
          type:
          - string
          - 'null'
          format: uuid
        ErrorCode:
          $ref: '#/components/schemas/DsrErrorCode'
        Message:
          type:
          - string
          - 'null'
        ItemNumber:
          type:
          - string
          - 'null'
        DataNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    DsrErrorCode:
      enum:
      - Unknown
      - InvalidUserId
      - ItemDeserializationError
      type: string
    PartnerDsrRequestType:
      enum:
      - OptOut
      - Deletion
      type: string
    AdvertiserDsrRequest:
      type: object
      properties:
        AdvertiserId:
          type:
          - string
          - 'null'
        DataProviderId:
          type:
          - string
          - 'null'
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartnerDsrDataItem'
        DataLoadTraceId:
          type:
          - string
          - 'null'
        RequestType:
          $ref: '#/components/schemas/PartnerDsrRequestType'
      additionalProperties: false
    PartnerDsrDataItem:
      type: object
      properties:
        TDID:
          type:
          - string
          - 'null'
        DAID:
          type:
          - string
          - 'null'
        UID2:
          type:
          - string
          - 'null'
        UID2Token:
          type:
          - string
          - 'null'
        RampID:
          type:
          - string
          - 'null'
        CoreID:
          type:
          - string
          - 'null'
        EUID:
          type:
          - string
          - 'null'
        EUIDToken:
          type:
          - string
          - 'null'
        ID5:
          type:
          - string
          - 'null'
        NetID:
          type:
          - string
          - 'null'
        FirstID:
          type:
          - string
          - 'null'
        UtiqID:
          type:
          - string
          - 'null'
        MerkuryID:
          type:
          - string
          - 'null'
        RealID:
          type:
          - string
          - 'null'
        IqviaPPID:
          type:
          - string
          - 'null'
      additionalProperties: false
    ThirdPartyDsrFailedLine:
      type: object
      properties:
        DataProviderId:
          type:
          - string
          - 'null'
        TDID:
          type:
          - string
          - 'null'
          format: uuid
        ErrorCode:
          $ref: '#/components/schemas/DsrErrorCode'
        Message:
          type:
          - string
          - 'null'
        ItemNumber:
          type:
          - string
          - 'null'
        DataNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    AdvertiserDsrResponse:
      type: object
      properties:
        FailedLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AdvertiserDsrFailedLine'
      additionalProperties: false
    MerchantDsrFailedLine:
      type: object
      properties:
        MerchantId:
          type:
          - string
          - 'null'
        TDID:
          type:
          - string
          - 'null'
          format: uuid
        ErrorCode:
          $ref: '#/components/schemas/DsrErrorCode'
        Message:
          type:
          - string
          - 'null'
        ItemNumber:
          type:
          - string
          - 'null'
        DataNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    MerchantDsrResponse:
      type: object
      properties:
        FailedLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MerchantDsrFailedLine'
      additionalProperties: false
    MerchantDsrRequest:
      type: object
      properties:
        MerchantId:
          type:
          - integer
          - 'null'
          format: int64
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartnerDsrDataItem'
        DataLoadTraceId:
          type:
          - string
          - 'null'
        RequestType:
          $ref: '#/components/schemas/PartnerDsrRequestType'
      additionalProperties: false
