openapi: 3.2.0
info:
  title: TTD Data Advertiser API
  version: v0.1
tags:
- name: Advertiser
paths:
  /data/advertiser:
    post:
      tags:
      - Advertiser
      summary: Upload first-party data for the specified ID for use in audience targeting
      operationId: IngestAdvertiserData
      parameters:
      - name: TTD-Auth
        in: header
        description: Data API token for authentication.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserDataRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDataServerResponse'
        '400':
          description: Bad Request - Invalid JSON, missing items, advertiser not configured, or policy restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDataServerResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden - Cannot create new targeting data for this advertiser
          content:
            application/json:
              schema:
                type: string
        '413':
          description: Request Entity Too Large - Request size exceeds the allowed limit
          content:
            application/json:
              schema:
                type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDataServerResponse'
        '500':
          description: Internal Server Error - Unexpected server error
        '503':
          description: Service Unavailable - Handler disabled or request dropped
      servers:
      - url: https://usw-data.adsrvr.org
components:
  schemas:
    AdvertiserDataServerResponseLine:
      type: object
      properties:
        TDID:
          type:
          - string
          - 'null'
          format: uuid
        DataName:
          type:
          - string
          - 'null'
        ErrorCode:
          $ref: '#/components/schemas/AdvertiserDataResponseErrorCode'
        Message:
          type:
          - string
          - 'null'
        ItemNumber:
          type:
          - string
          - 'null'
        DataNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    AdvertiserDataResponseErrorCode:
      enum:
      - Unknown
      - BaseBidCPMMetadataTooLong
      - MissingUserId
      - UserNotMapped
      - Deprecated_MissingCookieMappingPartnerId
      - InvalidBidFactor
      - DataNameTooLong
      - InvalidTtlInMinutes
      - InvalidBaseBidCPM
      - InvalidDataOwnerId
      - InvalidParameterFormat
      - TargetingDataCreationLimitExceeded
      - TargetingDataCountLimitExceeded
      - TenantRestrictionsExternalData
      - TargetingDataDisabled
      - ItemDeserializationError
      type: string
    AdvertiserData:
      required:
      - Name
      type: object
      properties:
        Name:
          type: string
        TimestampUtc:
          type:
          - string
          - 'null'
          format: date-time
        TtlInMinutes:
          type:
          - integer
          - 'null'
          format: int32
        BaseBidCPM:
          type:
          - number
          - 'null'
          format: double
        BaseBidCPMMetadata:
          type:
          - string
          - 'null'
        BidFactor:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    AdvertiserDataServerResponse:
      type: object
      properties:
        FailedLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AdvertiserDataServerResponseLine'
      additionalProperties: false
    AdvertiserDataRequest:
      required:
      - AdvertiserId
      type: object
      properties:
        AdvertiserId:
          type: string
        DataProviderId:
          type:
          - string
          - 'null'
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AdvertiserDataItem'
        DataLoadTraceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    AdvertiserDataItem:
      required:
      - Data
      type: object
      properties:
        TDID:
          type:
          - string
          - 'null'
        DAID:
          type:
          - string
          - 'null'
        UID2:
          type:
          - string
          - 'null'
        UID2Token:
          type:
          - string
          - 'null'
        RampID:
          type:
          - string
          - 'null'
        CoreID:
          type:
          - string
          - 'null'
        EUID:
          type:
          - string
          - 'null'
        EUIDToken:
          type:
          - string
          - 'null'
        ID5:
          type:
          - string
          - 'null'
        NetID:
          type:
          - string
          - 'null'
        FirstID:
          type:
          - string
          - 'null'
        UtiqID:
          type:
          - string
          - 'null'
        MerkuryID:
          type:
          - string
          - 'null'
        RealID:
          type:
          - string
          - 'null'
        IqviaPPID:
          type:
          - string
          - 'null'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserData'
        CookieMappingPartnerId:
          type:
          - string
          - 'null'
      additionalProperties: false
